
.fcontainer {
  background-color: rgb(28, 26, 27); /* Background color for the container */
  color: #fff; /* Text color */
  padding: 20px 0; /* Padding for top and bottom */
}

.footer {
  display: flex;
  justify-content: space-around; /* Align items horizontally with space between */
  align-items: center; /* Align items vertically */
  padding: 10px;
  font-size: 20px;
}

.footer ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.footer ul li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 20px; /* Add spacing between list items */
}


.footer ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.right a {
  color: #fff; /* Color for social media icons */
  margin-right: 10px; /* Add spacing between social media icons */
}

.right a:hover {
  color: #ff0; /* Change color on hover */
  background-color: aqua;
  border-radius: 30%;
}

p {
  text-align: center; /* Center align the copyright text */
  margin-top: 20px; /* Add spacing between footer content and copyright */
}
