.container {
    background-color: rgb(28,26,27);
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .nav_logo {
    height: 60px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li:last-child {
    margin-right: 0;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  ul li a:hover {
    color: #ccc;
  }