.popular-card-contienr{
    background: #9fc4f0;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid red; */
}

.popular-card{
    margin: 10px;
    width: 30%;
    border: 3px solid rgb(16, 16, 16);
    padding: 8px 0px;
    border-radius: 8px;
}


.popular-card-title{
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

.popular-btn {
    display: block;
    text-align: center;
    margin: 4px;
}

